@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

/*
  * CSS RESET
*/

/* Remove default margin and padding */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
li {
  list-style: none;
}

/* remove anchor link default styles */
a {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* set default font */
body {
  font-family: "Roboto", sans-serif;
}

/*
  * CSS VARIABLES
*/

:root {
  /* colros */
  --clr-white: hsl(0, 0%, 98%);
  --clr-gray: hsl(0, 0%, 41%);
  --clr-black: hsl(0, 0%, 8%);

  /* typography */
  --fs-s: 1.126rem;
  --fs-l: 4rem;

  --fw-s: 500;
  --fw-l: 700;
}

/* typography for small/mid screens */
@media (max-width: 50em) {
  :root {
    --fs-s: 1rem;
    --fs-l: 2rem;
  }
}

/*
  * CLASS UTILITIES
*/

/* ==== Colors ==== */

.c-white {
  color: var(--clr-white);
}
.c-gray {
  color: var(--clr-gray);
}
.c-black {
  color: var(--clr-black);
}

bg-white {
  background-color: var(--clr-white);
}
bg-black {
  background-color: var(--clr-black);
}
bg-transp {
  background-color: transparent;
}

/* ==== Fonts ==== */

.fs-s {
  font-size: var(--fs-s);
}
.fs-l {
  font-size: var(--fs-l);
}

.fw-s {
  font-weight: var(--fw-s);
}
.fw-l {
  font-weight: var(--fw-l);
}

/* ==== Button ==== */

.btn {
  outline: none;
  padding: 0.5em 1em;
  border: 0.1rem solid var(--clr-black);
  outline: 1px solid var(--clr-black);
  border-radius: 1em;
}

.btn--white {
  background-color: var(--clr-white);
  color: var(--clr-gray);
}
.btn--white:hover {
  color: var(--clr-black);
}

.btn--black {
  background-color: var(--clr-black);
  color: var(--clr-white);
}
.btn--black:hover {
  color: var(--clr-black);
  background-color: var(--clr-white);
}

/* ==== Anchor links ==== */

.link {
  color: var(--clr-gray);
  cursor: pointer;
}
.link:hover,
.link:focus {
  color: var(--clr-black);
}

/* Displays */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

/*
  * STYLES
*/

.container {
  max-width: 1440px;
  margin-inline: auto;
}

/* HEADER */

.header {
  column-gap: 2rem;
  align-items: center;
  padding: 1rem 2rem;
}

.header__logo {
  margin-top: 0.5rem;
}

.header__nav {
  height: 100vh;
  width: 70vw;
  position: fixed;
  right: 0;
  top: 0;
  padding: 3rem 1.5rem;
  flex-direction: column;
  gap: 1rem;
}

.header__nav > ul {
  flex-direction: column;
  row-gap: 1rem;
}

.header__link__title {
  align-items: center;
  gap: 0.3rem;
  position: relative;
}

.header__submenu {
  padding: 1rem;
}

.header__submenu__item {
  column-gap: 0.5rem;
}

.header__submenu__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.header__submenu__item:last-child {
  margin-bottom: -0.5rem;
}

.header__submenu__item img {
  align-self: center;
  justify-self: center;
  width: 1em;
}

.header__btns {
  align-items: center;
  gap: 2rem;
}

/* === Mobile Header === */
@media (max-width: 50em) {
  .header {
    justify-content: space-between;
  }

  .header__nav {
    transform: translateX(0);
    transition: 0.5s;
    background-color: var(--clr-white);
  }

  .header__btns {
    flex-direction: column;
    gap: 0;
    row-gap: 1rem;
    align-items: center;
    text-align: center;
  }

  .header__btns a {
    width: 100%;
  }

  .menu-btn {
    display: block;
    z-index: 1000;
    cursor: pointer;
  }

  .nav-hide {
    transform: translateX(100%);
    transition: 0.5s;
  }
}

/* === Desktop Header === */
@media (min-width: 50em) {
  .header__nav {
    position: relative;
    padding: 0;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav > ul {
    column-gap: 2rem;
    flex-direction: row;
  }

  .header__submenu {
    position: absolute;
    background-color: var(--clr-white);
    border-radius: 0.8rem;
    padding: 1.5rem;
    top: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px;
  }

  .sub-features {
    left: -4rem;
  }
  .sub-company {
    left: 7rem;
  }
}
